# Redis
REDIS_URL=http://localhost:8079
REDIS_TOKEN=local-development-token

# Database
DB_PASSWORD=postgres
DB_USER=postgres
DB_NAME=custom_nextjs_auth
DB_HOST=localhost

# OAuth redirect URLs to register:
# http://localhost:3000/api/oauth/[provider]

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
